{% extends 'base.html' %}

{% block title %}Desk Attendant Application{% endblock %}

{% block body %}
    <h1>Desk Attendant Application</h1>

    <form action="" method="post">
    <ul>
        {% for field in availability_form %}
            <div>{{ field.label }} {{ field }}</div>
        {% endfor %}
        {% comment %}
        {{ reference_form.as_ul }}
        {{ placement_preference_form.as_ul }}
        {{ essay_response_form.as_ul }}
        {% endcomment %}
        <li><input type="submit" /></li>
    </ul>
    </form>
{% endblock %}


