{% extends 'base.html' %}

{% block title %}Desk Attendant Application{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/~cliftoi/html/media/css/desk-attendant.css" type="text/css">{% endblock %}

{% block body %}
    <h1>{{ job.title }} Application</h1>

    <form action="" method="post">
    <div id="availability">
        <h2>General Information</h2>
        {% for field in availability_form %}
            <div>
                {{ field.label }} {{ field }}
                {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
            </div>
        {% endfor %}
    </div>
    <div id="reference_group">
        <h2>References</h2>
        {% for reference_form in reference_forms %}
            {% if reference_form.errors %}<div><span class="errors">{{ reference_form.errors }}</span></div>{% endif %}
            {% for field in reference_form %}
                <div>
                    {{ field.label }} {{ field }}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </div>
            {% endfor %}
        {% endfor %}
    </div>
    <div id="placement_preference">
        <h2>Placement Preference</h2>
        {% for field in placement_preference_form %}
            <div>{{ field.rank}} {{ field.name }}</div>
        {% endfor %}
    </div>
    <div id="essay_response">
        <h2>Essay Questions</h2>
        {% for essay_response in essay_response_form %}
            <p style="font-weight: strong;">{{ essay_response.prompt }}</p>
            {{ essay_response.answer }}
        {% endfor %}
    </div>
    <div><input type="submit" value="Submit Application" /></div>
    </form>
{% endblock %}


