{% extends 'base.html' %}

{% block title %}{{ job.title }} Application{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block content %}
    <h1>{{ job.title }} Application</h1>

    <p><a href="{% url wwu_housing.jobs.desk_attendant.views.admin_list %}{{ get_string }}#applicant-{{ application.id }}">Back to list view</a></p>

    <p><strong>Applicant Name:</strong> {{ applicant_name }}</p>
    <p><strong>Email Address:</strong> {{ application.applicant.user.email }}</p>
    {% if application.end_datetime %}
        <p>Application completed on {{ application.end_datetime|date:"F j, Y \a\t P" }}</p>
    {% else %}
        <p>Application is <strong>incomplete</strong>!</p>
    {% endif %}

    <h2>Availability</h2>

    {% if availability %}
    <table border='1'>
    <tr>
        <th>Prior DA</th>
        <th>Hours Available</th>
        <th>Will Live On Campus</th>
        <th>Work Study</th>
    </tr>
    <tr class="row1">
        <td>
            <img src="/media/admin/img/admin/icon-{{ availability.prior_desk_attendant|yesno:"yes,no" }}.gif" alt="{{ availability.prior_desk_attendant|yesno:"yes,no" }}" /> 
            {{ availability.prior_desk_attendant|yesno:"Yes,No" }}
        </td>
        <td>{{ availability.hours_available }}</td>
        <td>
            <img src="/media/admin/img/admin/icon-{{ availability.on_campus|yesno:"yes,no" }}.gif" alt="{{ availability.on_campus|yesno:"yes,no" }}" /> 
            {{ availability.on_campus_where }}
        </td>
        <td>
            <img src="/media/admin/img/admin/icon-{{ availability.work_study|yesno:"yes,no" }}.gif" alt="{{ availability.work_study|yesno:"yes,no" }}" /> 
            {{ availability.work_study|yesno:"Yes,No,Unknown" }} 
        </td>
    </tr>
    </table>
    {% else %}
    <p>Applicant does not have availability information.</p>
    {% endif %}

    <h2>Placement Preferences</h2>
    {% if placement_preferences %}
        {% for pref in placement_preferences %}
            <p>{{ pref.rank }} - {{ pref.community }}</p>
        {% endfor %}
    {% else %}
        <p>Applicant did not list any placement preferences.</p>
    {% endif %}

    <h2>Addresses</h2>
    {% if addresses %}
        {% for address in addresses %}
            <h3>{{ address.address_type|capfirst }}</h3>
            <p>{{ address.street_line_1 }}<br />
            {% if address.street_line_2 %}
                {{ address.street_line_2 }}<br />
            {% endif %}
            {% if address.street_line_3 %}
                {{ address.street_line_3 }}<br />
            {% endif %}
            {{ address.city}}, {{ address.district }} {{ address.zip }}
            </p>
        {% endfor %}
    {% else %}
    <p>Applicant does not have any addresses listed.</p>
    {% endif %}

    <h2>Phone Numbers</h2>
    {% if phones %}
        {% for phone in phones %}
            <p>
            {{ phone.phone_type|title }} Phone: {{ phone.phone }} 
            {% if phone.extension %}
                Ext. {{ phone.extension }}
            {% endif %}
            </p>
        {% endfor %}
    {% else %}
        <p>Applicant does not have any phone numbers listed.</p>
    {% endif %}

    <h2>References</h2>
    {% if references %}
        {% for reference in references %}
            <p>{{ reference.name }} - {{ reference.phone }}</p>
        {% endfor %}
    {% else %}
        <p>Applicant did not list any references.</p>
    {% endif %}

    <h2>Resume</h2>
    {% if resume %}
        <p><a href="{{ resume.get_resume_url }}">Download Resume</a></p>
    {% else %}
        <p>Applicant did not submit a resume</p>
    {% endif %}

    <h2>Essay Responses</h2>
    {% if essay_responses %}
        {% for response in essay_responses reversed %}
            <p><strong>{{ response.question }}</strong><br />
            {{ response.answer }}</p>
        {% endfor %}
    {% else %}
        <p>Applicant did not respond to the essay questions.</p>
    {% endif %}

    <h2>Status</h2>
    <p>The following are the statuses of this application in all other communities that have opened this application and the status of the application in your community.</p>

    <ul style="margin-top: 1em;">
    {% for community, statuses in status_by_community.items %}
        <li>
            {{ community }}: {{ statuses.process_status }}
            {% ifequal statuses.process_status 'Hired' %}
                ({{ statuses.hours_hired_for }} hour{{ statuses.hours_hired_for|pluralize }})
            {% endifequal %}
        </li>
    {% endfor %}
    </ul>

    {% for community, forms in status_forms.items %}
        <form method="post" action="">
        <div style="margin-top: 1em;">
            <input type="hidden" name="community" value="{{ community }}" />
            <fieldset>
                <legend>Application's Status in {{ community }}</legend>
                <p>{% if forms.process_status.value.errors %}<span class="errors">{{ forms.process_status.value.errors }}</span>{% endif %}Process Status: {{ forms.process_status.value }}</p>
                <p>{% if forms.hours_hired_for.value.errors %}<span class="errors">{{ forms.hours_hired_for.value.errors }}</span>{% endif %}Hours Hired For: {{ forms.hours_hired_for.value }}</p>
                <p><input type="submit" value="Update Status" /></p>
            </fieldset>
        </div>
        </form>
    {% endfor %}

    <p><a href="{% url wwu_housing.jobs.desk_attendant.views.admin_list %}">Back to list view</a></p>
{% endblock %}
