{% extends 'base.html' %}

{% block title %}{{ job.title }} Application{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ media_url }}css/desk-attendant.css" type="text/css" />
{% endblock %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $("#id_on_campus_where").attr("disabled", "disabled");
    $("#id_on_campus_0").click(function() {
        $("#id_on_campus_where").removeAttr("disabled");
    });
    $("#id_on_campus_1").click(function() {
        $("#id_on_campus_where").attr("disabled", "disabled");
    });
    $("#id_on_campus_2").click(function() {
        $("#id_on_campus_where").attr("disabled", "disabled");
    });
});
</script>
{% endblock %}

{% block content %}
    <h1>{{ job.title }} Application</h1>

    <form id="da-apply-form" enctype="multipart/form-data" action="" method="post">
    <fieldset id="availability">
        <legend>General Information</legend>
        <p>The General Information section helps us determine how available you will be for the job.  Please answer all questions to the best of your ability and estimate your hours available from 1 to 19.</p>
        <p>Name: <strong>{{ application.applicant.user.first_name }} {{ application.applicant.user.last_name }}</strong></p>
        <p>Email: <strong>{{ application.applicant.user.email }}</strong></p>

        <fieldset>
            <legend>Availability</legend>
            <ol>
            {% for field in availability_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">{{ field }}</dd>
                        <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                        <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                    </dl>
                </li>
            {% endfor %}
            <ol>
        </fieldset>

        <fieldset>
            <legend>Current Mailing Address</legend>
            <ol>
            {% for field in current_address_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">
                            {{ field }}
                            {% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}
                            {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                        </dd>
                    </dl>
                </li>
            {% endfor %}
            </ol>
        </fieldset>

        <fieldset>
            <legend>Summer Mailing Address</legend>
            <ol>
            {% for field in summer_address_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">{{ field }}</dd>
                        <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                        <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                    </dl>
                </li>
            {% endfor %}
            </ol>
        </fieldset>

        <fieldset>
            <legend>Current Phone</legend>
            <ol>
            {% for field in current_phone_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">{{ field }}</dd>
                        <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                        <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                    </dl>
                </li>
            {% endfor %}
            </ol>
        </fieldset>

        <fieldset>
            <legend>Summer Phone</legend>
            <ol>
            {% for field in summer_phone_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">{{ field }}</dd>
                        <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                        <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                    </dl>
                </li>
            {% endfor %}
            </ol>
        </fieldset>

        <fieldset>
            <legend>Cell Phone</legend>
            <ol>
            {% for field in cell_phone_form %}
                <li>
                    <dl>
                        <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                        <dd class="field">{{ field }}</dd>
                        <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                        <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                    </dl>
                </li>
            {% endfor %}
            </ol>
        </fieldset>
    </fieldset>

    <fieldset id="reference_group">
        <legend>References</legend>
        <p>The References section is optional and is for you to list one or more people who can vouch for you.  If you include a person's name, please include a contact phone number for that person.</p>
        {% for reference_form in reference_forms %}
            <fieldset>
                <legend>Reference</legend>
                {% if reference_form.non_field_errors %}
                    {{ reference_form.non_field_errors }}
                {% endif %}
                <ol>
                {% for field in reference_form %}
                    <li>
                        <dl>
                            <dt class="label">{{ field.label_tag }}{% if field.field.required %}<span class="required">(required)</span>{% endif %}</dt>
                            <dd class="field">{{ field }}</dd>
                            <dd class="field">{% if field.help_text %}<span class="help">{{ field.help_text }}</span>{% endif %}</dd>
                            <dd class="field">{% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}</dd>
                        </dl>
                    </li>
                {% endfor %}
                </ol>
            </fieldset>
        {% endfor %}
    </fieldset>

    <fieldset id="placement_preference">
        <legend>Placement Preference</legend>
        <p>Rank the communities you would like to work in, using <strong>1</strong> for the place you are <strong>most interested</strong> in (e.g., 1 Edens/Higginson, 2 Beta/Gamma, etc.).</p>
        <p>You can use the same rank value more than once to show equal preference for multiple communities. If you do not wish to apply for a specific community, simply leave it blank.</p>
        <ol class="list-item">
        {% for placement_preference_form in placement_preference_forms %}
            <li>
                 {{ placement_preference_form.rank}} <label for="id_{{ placement_preference_form.rank.html_name }}">{{ placement_preference_form.community.name }}</label>
                {% if placement_preference_form.help_text %}
                    <span class="help">{{ placement_preference_form.help_text }}</span>
                {% endif %}
                {% if placement_preference_form.rank.errors %}
                    <span class="errors">{{ placement_preference_form.rank.errors }}</span>
                {% endif %}
            </li>
        {% endfor %}
        </ol>
    </fieldset>

    <fieldset id="essay_response">
        <legend>Essay Questions</legend>
        <p>Your answers to these questions will give us a better understanding of what kind of person you are and what you can bring to the Desk Attendant position.</p>
        <ol>
        {% for essay_response_form in essay_response_forms %}
            <li>
                <dl>
                    <dt class="label"><label for="id_{{ essay_response_form.answer.html_name }}" style="font-weight: strong;">{{ essay_response_form.question }}{% if essay_response_form.answer.field.required %}<span class="required">(required)</span>{% endif %}</label></dt>
                    <dd class="field">{{ essay_response_form.answer }}</dd>
                    <dd class="field">
                        {% if essay_response_form.answer.help_text %}
                            <span class="errors">{{ essay_response_form.answer.help_text }}</span>
                        {% endif %}
                    </dd>
                    <dd class="field">
                        {% if essay_response_form.answer.errors %}
                            <span class="errors">{{ essay_response_form.answer.errors }}</span>
                        {% endif %}
                    </dd>
                </dl>
            </li>
        {% endfor %}
        </ol>
    </fieldset>

    <fieldset id="resume">
        <legend>Resume</legend>
        <p>You may optionally upload a resume as a PDF or Microsoft Word document.</p>
        <p>
            {{ resume_form.resume.label_tag }} {{ resume_form.resume }}
            {% if resume_form.resume.help_text %}
                <span>{{ resume_form.resume.help_text }}</span>
            {% endif %}
            {% if resume_form.resume.errors %}
                <span class="errors">{{ resume_form.resume.errors }}</span>
            {% endif %}
        </p>
    </fieldset>

    <p>Applicants will be screened for significant misconduct on-campus.  Minor policy violations (e.g. quiet hours, candles, etc.) will likely not affect your application.</p>
    <p><input type="submit" value="Submit Application" /></p>
    </form>
{% endblock %}


