{% extends 'base.html' %}

{% block title %}{{ job.title }} Application{% endblock %}
{% block stylesheets %}
{% endblock %}

{% block body %}
    <h1>{{ job.title }} Application</h1>

    <form action="" method="post">
    <fieldset id="availability">
        <legend>General Information</legend>
        <p>The General Information section helps us determine how available you will be for the job.  Please answer all questions to the best of your ability and estimate your hours available from 1 to 19.  Items with an asterisk (*) are required to submit your application.</p>
        <p>Name: <strong>{{ application.applicant.user.first_name }} {{ application.applicant.user.last_name }}</strong></p>
        <p>Email: <strong>{{ application.applicant.user.email }}</strong></p>

        {% for field in availability_form %}
            <p>
                {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
            </p>
        {% endfor %}

        <fieldset>
            <legend>Current Mailing Address</legend>
            {% for field in current_address_form %}
                <p>
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                    {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </p>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>Summer Mailing Address</legend>
            {% for field in summer_address_form %}
                <p>
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                    {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </p>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>Current Phone</legend>
            {% for field in current_phone_form %}
                <p>
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                    {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </p>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>Summer Phone</legend>
            {% for field in summer_phone_form %}
                <p>
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                    {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </p>
            {% endfor %}
        </fieldset>

        <fieldset>
            <legend>Cell Phone</legend>
            {% for field in cell_phone_form %}
                <p>
                    {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                    {% if field.help_text %}<span>{{ field.help_text }}</span>{% endif %}
                    {% if field.errors %}<span class="errors">{{ field.errors }}</span>{% endif %}
                </p>
            {% endfor %}
        </fieldset>
    </fieldset>

    <fieldset id="reference_group">
        <legend>References</legend>
        <p>The References section is optional and is for you to list one or more people who can vouch for you.  If you include a person's name, please include a contact phone number for that person.</p>
        {% for reference_form in reference_forms %}
            <fieldset>
            <legend>Reference</legend>
            {% if reference_form.non_field_errors %}
                {{ reference_form.non_field_errors }}
            {% endif %}
            {% for field in reference_form %}
                <p>
                {{ field.label_tag }}{% if field.field.required %}*{% endif %} {{ field }}
                {% if field.help_text %}
                    <span>{{ field.help_text }}</span>
                {% endif %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                </p>
            {% endfor %}
            </fieldset>
        {% endfor %}
        {% for reference_form in reference_forms %}
            <fieldset>
            <legend>Reference</legend>
            {% if reference_form.non_field_errors %}
                {{ reference_form.non_field_errors }}
            {% endif %}
            {% for field in reference_form %}
                <p>
                {{ field }} {{ field.label_tag }}{% if field.field.required %}*{% endif %}
                {% if field.help_text %}
                    <span>{{ field.help_text }}</span>
                {% endif %}
                {% if field.errors %}
                    {{ field.errors }}
                {% endif %}
                </p>
            {% endfor %}
            </fieldset>
        {% endfor %}
    </fieldset>

    <fieldset id="placement_preference">
        <legend>Placement Preference</legend>
        <p>Please rank the places you would like to work, using <strong>1</strong> for the place you most want (e.g., 1 Edens/Higginson, 2 Beta/Gamma, etc.).  If you do not wish to apply for a community, simply leave it blank.</p>
        {% for placement_preference_form in placement_preference_forms %}
            <p>
                {{ placement_preference_form.rank}} <label for="id_{{ placement_preference_form.rank.html_name }}">{{ placement_preference_form.community.name }}</label>
                {% if placement_preference_form.help_text %}
                    <span>{{ placement_preference_form.help_text }}</span>
                {% endif %}
                {% if placement_preference_form.rank.errors %}
                    {{ placement_preference_form.rank.errors }}
                {% endif %}
            </p>
        {% endfor %}
    </fieldset>

    <fieldset id="essay_response">
        <legend>Essay Questions</legend>
        <p>These optional Essay Questions give us a better understanding of what kind of person you are and what you can bring to the Desk Attendant position.</p>
        {% for essay_response_form in essay_response_forms %}
            <p>
            <label for="id_{{ essay_response_form.answer.html_name }}" style="font-weight: strong;">{{ essay_response_form.question }}</label>
            {{ essay_response_form.answer }}
            {% if essay_response_form.answer.help_text %}
                <span>{{ essay_response_form.answer.help_text }}</span>
            {% endif %}
            {% if essay_response_form.answer.errors %}
                <span class="errors">{{ essay_response_form.answer.errors }}</span>
            {% endif %}
            </p>
        {% endfor %}
    </fieldset>

    <p><input type="submit" value="Submit Application" /></p>
    </form>
{% endblock %}


