<ul class="comment">
    <li>
        {% ifequal user comment.user %}
            <form action="{% url desk_attendant_comment comment.id %}" method="post">
            <input style="float: right;" class="help" type="submit" name="delete" value="Delete" />
            </form>
        {% endifequal %}
        <strong>{{ comment.user.get_full_name }}</strong> wrote at {{ comment.submit_date|date:"P F j, Y" }}

        {% if show_original_posts %}
            <br /><span class="help">Originally posted for <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a></span>
        {% endif %}
    </li>
    <li>{{ comment.comment|linebreaks }}</li>
</ul>
