{% load comments %}

{% get_comment_form for comment_object as comment_form %}
<form action="{% comment_form_target %}" method="POST">
    <ul>
        <li>
            {{ comment_form.comment }}
            {{ comment_form.content_type }} {{ comment_form.object_pk }}
            {{ comment_form.timestamp }} {{ comment_form.security_hash }}
            <input type="hidden" name="next" value="{% url desk_attendant_admin comment_object.id %}#comments" />
        </li>
        <li><input type="submit" value="Post Comment" /></li>
    </ul>
</form>

{% get_comment_list for comment_object as comment_list %}
{% if comment_list %}
    {% for comment in comment_list reversed %}
        {% include "desk_attendant/comment_detail.html" %}
    {% endfor %}
{% endif %}
