{% extends 'base.html' %}

{% block title %}{{ job.title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="/media/css/desk-attendant.css" type="text/css" />{% endblock %}

{% block content %}
<h1>{{ job.title }} Application</h1>

{% if da_message %}
<p class="review">{{ da_message }}</p>
{% endif %}

<p><img src="/deskattendant/images/da-app.png" alt="Desk Attendant" /></p>
{{ job.description|safe }}

{% if application.end_datetime %}
<p>You submitted your application on {{ application.end_datetime|date:"l, F jS \a\t P" }}</p>
{% else %}{% if job.is_open or 1 %}
{% comment %}TODO: remove 'or 1' when done testing{% endcomment %}
<p><a href="apply/">Apply!</a></p>
{% endif %}
{% endif %}


<h2>Important Dates</h2>
<ul>
    <li>Application Opens: {{ job.open_datetime|date:"l, F jS \a\t P" }}</li>
    <li>Application Deadline: {{ job.deadline|date:"l, F jS \a\t P" }}</li>
</ul>
{% endblock %}


