{% extends 'base.html' %}

{% block title %}{{ job.title }}{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ media_url }}css/desk-attendant.css" type="text/css" />{% endblock %}

{% block content %}
<h1>{{ job.title }} Application</h1>

{% if da_message %}
    <p class="review">{{ da_message }}</p>
{% endif %}

{% if application.end_datetime %}
    <p>You submitted your application on {{ application.end_datetime|date:"l, F jS \a\t P" }}</p>
{% else %}
    {% if job.is_open %}
        <p><a href="apply/">Apply!</a></p>
    {% endif %}
{% endif %}

<div id="logo">
{% if application.end_datetime %}
    <img src="{{ media_url }}desk_attendant/images/da-app-2009-alt3.png" alt="Desk Attendant" />
{% else %}
    {% if job.is_open %}
        <a href="apply/"><img src="{{ media_url }}desk_attendant/images/da-app-2009-alt.png" alt="Desk Attendant" /></a>
    {% endif %}
{% endif %}
</div>

<div id="important-dates">
    <h2>Important Dates</h2>
    <ul>
        <li>Application Opens: {{ job.open_datetime|date:"l, F jS \a\t P" }}</li>
        <li>Application Deadline: {{ job.deadline|date:"l, F jS \a\t P" }}</li>
    </ul>
</div>

<div id="job-description">
{{ job.description|safe }}
</div>

{% endblock %}


