{% extends "base.html" %}

{% block content %}
<h1>{{ job.title }} Admin</h1>

{% if has_file_field %}
    <form action="" enctype="multipart/form-data" method="post">
{% else %}
    <form action="" method="post">
{% endif %}

{% comment %}
TODO: Add CSV support.

desk attendant app at line 495 might be a good starting point...
{% endcomment %}

<table>
    <tr style="background-color: white; ">
    <th>Applicant</th>
    <th>Address</th>
    <th>GPA</th>
    <th>In Conduct</th>
    <th>Status</th>
    <!--<th>Update</th>-->
    </tr>
{% for person in apps %}
    <tr style='background-color: {{ colors.status }}; '>
        <form>
        <td><a href="{{ person.username }}">{{ person.first_name }} {{ person.last_name }}</a></td>
        <td>{{ person.address }}</td>
        <td>
        {% if person.gpa %}
            {{ person.gpa|floatformat:2 }}
        {% endif %}
        </td>
        <td>
        {% if person.conduct_id %}
            <a href="/conduct/history.php?id={{ person.conduct_id }}">Link</a>
        {% endif %}
        </td>
        <td>
            <select name="status">
            {% for stat in statuses %}
                {% if stat.status == person.status %}
                    <option selected="True">{{ person.status }}</option>
                {% else %}
                    <option>{{ stat }}</option>
                {% endif %}
            {% endfor %}
            </select>
        </td>
        </form>
    </tr>
{% endfor %}
{% csrf_token %}
</table>

<input type="submit" value="Save" />

</form>
{% endblock %}
