{% extends "base.html" %}

{% block content %}
<h1>{{ applicant }}: Admin for {{ job.title }}</h1>

{% for responses in components %}
    <dl>
        {% ifchanged %}
            <dt><h1>{{ responses.component }}</h1></dt>
        {% endifchanged %}
        {% if not response.type == "none" %}
            <dd><b>{{ responses.component_part.content_object|safe }}:</b></dd>
            {% if responses.type == "file" %}
                <dd><a href="/apps/files/{{ responses.response }}">{{ responses.response }}</a></dd>
            {% else %}
                {% if response.type == "work_history" %}
                    <dd>{{ responses.response }}</dd>
                {% else %}
                    <dd>{{ responses.response }}</dd>
                {% endif %}
            {% endif %}
        {% endif %}
    </dl>
{% endfor %}

{% endblock %}
