{% extends "base.html" %}

{% block content %}
<h1>{{ job_title }} Admin for {{ applicant_name }}</h1>

{% for responses in components %}
    <dl>
        {% ifchanged %}
            <dt><h1>{{ responses.component }}</h1></dt>
        {% endifchanged %}
        {% if not responses.type == "none" %}
            <dd><strong>{{ responses.component_part.content_object|safe }}</strong></dd>
            {% if responses.type == "file" %}
                <dd><a href="/apps/files/{{ responses.response }}">{{ responses.response }}</a></dd>
            {% else %}
                {% if responses.type == "work_history" %}
                    <dd><strong>Employer:</strong> {{ responses.response.employer }}</dd>
                    <dd><strong>Position Title:</strong> {{ responses.response.position_title }}</dd>
                    <dd><strong>Start Date:</strong> {{ responses.response.start_date }}</dd>
                    <dd><strong>End Date:</strong> {{ responses.response.end_date }}</dd>
                    <dd><strong>Hours Worked:</strong> {{ responses.response.hours_worked }}</dd>
                    <dd><strong>Position Summary:</strong> {{ responses.response.position_summary }}</dd>
                {% else %}
                    {% if responses.type == "placement_preference" %}
                        <dd><strong>Preferences:</strong>
                        <ul>
                        {% for preference in responses.response.preferences.all %}
                            <li>{{ preference.preference }}</li>
                        {% endfor %}
                        </ul></dd>
                        <dd><strong>Reason:</strong> {{ responses.response.explanation }}</dd>
                    {% else %}
                        <dd>{{ responses.response }}</dd>
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    </dl>
{% endfor %}

{% endblock %}
