{% extends "base.html" %}
{% load jobs %}

{% block title %}
{{ job.title }} | Jobs
{% endblock %}

{% block content %}
<h1>Your Application for {{ job.title }}</h1>

<dl class="table">
    <dt>Step</dt>
    <dd>Status</dd>
{% for component in job.component_set.all %}
    <dt>{{ forloop.counter }}. <a href="{{ component.get_absolute_url }}">{{ component }}</a></dt>
    <dd>{% status application component %}</dd>
{% endfor %}
</dl>

<form action="" method="post">
    <p><input type="submit" name="submit" value="Submit your application" /></p>
</form>
{% endblock %}
