{% extends "base.html" %}
{% load jobs %}

{% block title %}
{{ job.title }} | Jobs
{% endblock %}

{% block content %}
<h1>Your Application for {{ job.title }}</h1>

<dl class="table ordered">
    <dt><strong>Step</strong></dt>
    <dd><strong>Status</strong></dd>
{% for component in job.component_set.all %}
    <dt>{{ forloop.counter }}. <a href="{{ component.get_absolute_url }}">{{ component }}</a></dt>
    <dd>{% status application component %}</dd>
{% endfor %}
</dl>


<div class="box">
<ul>
    {% if messages %}
        {% for message in messages %}
            <li>{{ message|safe }}</li>
        {% endfor %}
    {% endif %}

    <li>Prior to employment, all candidates will undergo a criminal background
        check. If you have questions about your eligibility for employment
        please feel free to contact the Associate Director of Residence Life at
        <a href="mailto:John.Purdie@wwu.edu">John.Purdie@wwu.edu</a></li>
</ul>

{% if application.is_submitted %}
    <p>You have successfully submitted your application.</p>
{% else %}
    <form action="" method="post">{% csrf_token %}
        <p><input type="submit" name="submit" value="Submit your application" /></p>
    </form>
{% endif %}
</div>

{% endblock %}
