{% extends "with_navigation.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ MEDIA_URL }}css/jobs/component.css" type="text/css" />
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ MEDIA_URL }}js/jobs/component.js"></script>
{% endblock %}

{% block navigation %}
    <ul class="level1">
        <li><a href="{{ component.job.get_application_url }}">{{ component.job.title }}</a></li>
    </ul>
    <ul class="level2">
    {% for nav_component in component.job.component_set.all %}
        <li><a href="{{ nav_component.get_absolute_url }}">{{ nav_component }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}

{% block content %}
<h1>{{ component }}</h1>

{% if has_file_field %}
    <form action="" enctype="multipart/form-data" method="post">
{% else %}
    <form action="" method="post">
{% endif %}

{% csrf_token %}
<dl>
{% for component_part in component_parts %}
    <dt>{{ component_part.content_object|safe }}</dt>
    {% if has_file_field and component_part.form.instance.file %}
        <dd>Currently: {{ component_part.form.instance.file.name }}</dd>
        <dd>Change:
    {% else %}
        <dd>
    {% endif %}
    {{ component_part.form }}</dd>
{% endfor %}
</dl>

<div class="box">
{% if application.is_submitted %}
    <p>You can no longer modify your application after it has been submitted.</p>
{% else %}
    <input type="submit" value="Save" />
{% endif %}
</div>

</form>
{% endblock %}
