{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block content %}
<h1>Jobs</h1>
{% for job in job_list %}
<h2>{{job.job.title}}</h2>
    <ul>
        <li><a href="{{job.job.get_absolute_url}}">{%if job.applied %}Job Description{%else%}Learn more{%endif%}</a></li>
        <li>{%if job.applied %}<a href="{{job.job.get_application_url}}">Application</a> Status: {{job.app_status}}{%else%}<a href="{{job.job.get_application_url}}">Apply{%endif%}</a></li>
        {%if job.interview_date %}
        <li>Interview Date: {{job.interview_date|date:"l, F j, Y \a\t P"}}</li>
        {%endif%}
        {%if job.interview_status %}
        <li><a href="{{job.job.get_absolute_url}}/interview">Change Interview Time</a></li>
        {%endif%}
    </ul>
    <dl class="table">
    {% with "l, F j, Y \a\t P" as date_format %}
        <dt>Posted Date:</dt>
        <dd>{{job.job.post_datetime|date:date_format }}</dd>
        <dt>Open Date:</dt>
        <dd> {{job.job.open_datetime|date:date_format }}</dd>
        <dt>Deadline:</dt>
        <dd>{{job.job.deadline|date:date_format }}</dd>
    {% endwith %}
    </dl>
{% endfor %}
{% endblock %}

