{% extends "base.html" %}
{% load markup %}

{% block content %}
<h1>{{ job.title }}</h1>

{% include "messages.html" %}
{% if applied %}
     <ul>
        <li><a href="{{ job.get_application_url }}">Application</a></li>
        <li>Status: {{ status}}</li>
    </ul>
{% else %}
    {% if job_open %}
        <ul>
            <li><a href="{{ job.get_application_url }}">Apply Now</a></li>
        </ul>
    {% else %}
        <p>Not accepting applications at this time.</p>
    {% endif %}
{% endif %}
<div>{{ job.description|markdown }}</div>
    <ul>
        <li><a href="/apps/jobs">Back to Jobs list</a></li>
    </ul>
{% endblock %}
